section.main section.content ul.modules li section.box header
{
    background-color:#7445A5;
    color:#fff;   
}

section.main section.content ul.modules li section.newslist header
{
    background-color:#fff; 
    color:#000;  
}

ul.modules li.article a
{
    color:#000;    
}

ul.modules li.article a.button 
{
    color:#fff;    
}

ul.modules li.article section.box
{
    background-color:#fff;
    color:#7445A5;
}

ul.modules li.article section.box article section.section h1
{
    background:none;
}

ul.modules li section.box section
{
    background:none;    
}
html ul.modules li.article section.box article a.button
{
    background: #BB5B2C; 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#BB5B2C', endColorstr='#B35121',GradientType=0 );    
}

html.mozilla ul.modules li.article section.box article a.button
{
    background: -moz-linear-gradient(top, #BB5B2C 70%, #B35121 100%);
}

html.webkit ul.modules li.article section.box article a.button
{
   background: -webkit-gradient(linear, left top, left bottom, color-stop(70%,#BB5B2C), color-stop(100%,#B35121)); 
}
