ul.modules li.bingoinformation nav
{
    -moz-border-radius:3px 3px 3px 3px;
    display:block;
    font-weight:bold;
    padding:30px 10px 30px 10px;
    text-align:center;
    filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
    background-color:#7445A5;
    color:#fff;
}


