ul.modules li.mainpromo {
    margin-bottom:0;
}

section.main ul.modules li.jackpotpromo .container
{
    background-repeat:no-repeat;
}

ul.modules li.jackpotpromo ul
{
    font-size:1.7em;
    font-weight:bold;
}
ul.modules li.jackpotpromo ul li
{
    line-height:1em; 
}

ul.modules li.jackpotpromo ul span
{
    color:#7445a5; 
}

ul.modules li.jackpotpromo ul span.game
{ 
    left:25px;
    margin-right:0;
    white-space:nowrap;
}

ul.modules li.jackpotpromo ul span.game a
{
    cursor:default;    
}

ul.modules li.jackpotpromo ul span.amount
{
    width:28%;
}

ul.modules li.jackpotpromo .container
{
    background:#BF9BDD;
}

html.mozilla ul.modules li.jackpotpromo .container
{
    background:-moz-linear-gradient(top, #E9DCEF 1%, #9C64CF 100%);
}

html.webkit ul.modules li.jackpotpromo .container
{
    background:-webkit-gradient(linear, left top, left bottom, color-stop(1%,#E9DCEF), color-stop(100%,#9C64CF)); 
}

html.ie ul.modules li.jackpotpromo .container
{
   filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#E9DCEF', endColorstr='#9C64CF',GradientType=0 );
}