ul.modules li.mainpromo div.flashWrapper
{
    background-image:-moz-linear-gradient(#333, #220000);
    background-image:-webkit-gradient(linear,
        left top,
        left bottom,
        from(#333),
        to(#220000)
    );
}

section.main ul.modules li.mainpromo
{
    margin-bottom:0px;
}