ul.modules li.pagemenu nav h2
{
    padding-left:3px;
    padding-right:3px;
    background-color:#212121;
}
html.mozilla ul.modules li.pagemenu nav h2
{
    background-image:-moz-linear-gradient(
        #6C6C6C, 
        #212121 15%
    );
    background-color:transparent;
    background-repeat:repeat-x;
    background-position:center center;
}

html.webkit ul.modules li.pagemenu nav h2
{    
    background-image:-webkit-gradient(linear,
        left top,
        left bottom,
        from(#6C6C6C),
        color-stop(15%, #212121),
        to(#212121)
    );
    background-color:transparent;
    background-repeat:repeat-x;
    background-position:center center;
}

ul.modules li.pagemenu nav ul li,
ul.modules li.pagemenu nav ul li.category
{
    background-color:#444;
}

ul.modules li.pagemenu nav ul li.header
{
    background-color:#444;
}

html.mozilla ul.modules li.pagemenu nav ul li.header
{
    background:transparent -moz-linear-gradient(
        #4F4F4F, 
        #444
    ) repeat-x center center;
}

html.webkit ul.modules li.pagemenu nav ul li.header
{
    background:transparent -webkit-gradient(linear,
        left top,
        left bottom,
        from(#4F4F4F),
        to(#444)
    ) repeat-x center center;
}

ul.modules li.pagemenu nav > ul > li:nth-child(2)
{
    background-color:#444;
}