/* General box design */
section.lobby,
section.lobby a, 
section.lobby a:hover, 
section.lobby a:active, 
section.lobby a:focus
{
    color:#FFF;
}

section.content ul.modules
{
}

section.content ul.modules li section.box
{
    background-color:#000;
    background-color:rgba(0, 0, 0, 0.9);
    background-image:none;
    border-radius:0px;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
    -o-border-radius:0px;
    border:1px solid #444;
}
html.mozilla section.content ul.modules li section.box header
{
    background-image:-moz-linear-gradient(top, #51565A, #424649);
}

html.webkit section.content ul.modules li section.box header
{
    background-image:-webkit-gradient(linear, left top, left bottom, from(#51565A), to(#424649));
}

html.msie section.content ul.modules li section.box header
{
    background-color:Transparent;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#51565A,endColorstr=#424649);
    zoom:1;
}

section.main section.content ul.modules li section.box header h2
{
    font-weight:bold;
    color:#FFFFFF;
    font-size:2.2em;
    font-weight:bold;
    text-shadow:0 -1px -1px #161718;
}

html.mozilla section.content ul.modules li section.box
{
    background-image:-moz-linear-gradient(transparent, rgba(16, 16, 16, 0.9));
}

html.webkit section.content ul.modules li section.box
{
    background-image:-webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(16, 16, 16, 0.9)));
}

html.msie section.content ul.modules li section.box
{
    background-color:Transparent;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#E5000000,endColorstr=#EE101010);
    zoom:1;
}
section.main section.content ul.modules li section.box header
{
    padding: 2.2em 0 2.2em 2em;
    background-color: #424649;
    [borderRadius(0px)];
    background-image:none;
    border-bottom:1px solid #4A4E52;
    border-top:1px solid #626569;
}
html.msie section.content a.button
{
    float:left;
    margin-right:.5em;
}

section.content ul.modules li section.box header
{
    background-image:none;
    border-bottom:1px solid #444;
}

section.content ul.modules li section.box header h2
{
    color:#FFF;
}


/* General box design end */

/* FORMS */

section.content ul.modules li p.error,
section.content ul.modules li p.success,
section.content ul.modules li p.information
{
    border:1px solid #333333;
    margin-bottom:1em;
    padding:1em;
    text-align:center;
}

section.content ul.modules li p.hidden
{
    display:none;
}

section.content ul.modules li p.information
{
    color:#666;
    font-weight:bold;
    background-color:#FFF;
}

section.content ul.modules li section.box footer
{
    clear:left;
    height:auto;
    padding:0 1em 1em;
}

section.content ul.modules li section.box div.container,
section.content ul.modules li section.box fieldset
{
    margin:1em 0em 1em;
    padding:0 1em 1em;
}

/*section.content ul.modules li section.box div.container
{
    border-bottom:1px solid #333;
}*/

section.content ul.modules li section.box table caption,
section.content ul.modules li section.box fieldset legend,
section.content ul.modules li section.box fieldset h3
{
    font-size:1.2em;
    padding:0px;
    font-weight:bold;
    color:#21800D;
    margin-bottom:1em;
}

section.content ul.modules li section.box table caption h2
{
    font-weight:bold;
}

section.content ul.modules li section.box table caption p
{
    font-size:10px;
    font-weight:normal;
}
section.content ul.modules li section.box table caption p.alert
{
    color:#D80000;
}

section.content ul.modules li section.box fieldset section.section
{
    margin-bottom:1em;
}

section.content ul.modules li section.box
{
    margin-bottom:1em;
}

section.content ul.modules li button
{
    margin-right:.5em;
}

section.content ul.modules li section.box fieldset input[type=text],
section.content ul.modules li section.box fieldset input[type=password],
section.content ul.modules li section.box fieldset input[type=number],
section.content ul.modules li section.box fieldset select
{
    box-shadow:inset 0 0 3px #000;
    -moz-box-shadow:inset 0 0 3px #000;
    -webkit-box-shadow:inset 0 0 3px #000;
    -o-box-shadow:inset 0 0 3px #000;
    padding:.7em 1em;
    border:0px;
    float:left;
    margin-bottom:.5em;
}
section.content ul.modules li section.box fieldset select
{
    padding:.6em 1em;
    margin-right:.5em;
}
section.content ul.modules li section.box fieldset label
{
    width:15em;
    margin:.5em 1em 0 0;
    text-align:right;
    float:left;
    clear:left;
}
section.content ul.modules li section.box fieldset input[disabled]
{
    background-color:#B9B9B9;
    color:#666666;
    font-weight:bold;
}
section.content ul.modules li section.box fieldset .fields {
    clear: both;
    margin: 0;
    padding: 0.2em 0 0 0;
}
section.content ul.modules li section.box fieldset .fields > .first,
section.content ul.modules li section.box fieldset .fields > .stack {
    display: inline-block;
    *float: left;
}
section.content ul.modules li section.box fieldset .fields > .first *,
section.content ul.modules li section.box fieldset .fields > .first select,
section.content ul.modules li section.box fieldset .fields > .first input,
section.content ul.modules li section.box fieldset .fields > .stack *,
section.content ul.modules li section.box fieldset .fields > .stack select,
section.content ul.modules li section.box fieldset .fields > .stack input {
    float: none;
    margin-top: 0;
    margin-bottom: 0;
}
section.content ul.modules li section.box fieldset .fields select {
    padding-top: 0.7em;
    padding-bottom: 0.7em;
}

html.msie7-0 section.content ul.modules li section.box fieldset .fields select {
    height: 2.8em;
}
section.content ul.modules li section.box fieldset .fields input {
    padding-top: 0.8em;
    padding-bottom: 0.8em;
}
section.content ul.modules li section.box fieldset .fields > .first {
    width: 15em;
    text-align: right;
    margin-right: 1em;
}
section.content ul.modules li section.box fieldset .fields > .first > label {
    margin-top: 0.5em;
    display: inline-block;
    padding-bottom: 1em;
}
section.content ul.modules li section.box fieldset .fields > .first > .inline,
section.content ul.modules li section.box fieldset .fields > .stack > .inline {
    display: inline-block;
    padding: .9em 0.5em 0.8em 0;
    width: auto;
}
section.content ul.modules li section.box fieldset .fields > .first > .eg,
section.content ul.modules li section.box fieldset .fields > .stack > .eg {
    padding-top: 0.5em;
    opacity: 0.8;
    -moz-opacity: 0.8;
}
section.content ul.modules li section.box fieldset .fields > .stack > select + .eg {
    margin-left: 1.4em;
}
html.msie7-0 section.content ul.modules li section.box fieldset .fields > .stack > select + .eg {
    margin-left: 0.5em;
}
section.content ul.modules li section.box fieldset .fields > .stack > input + .eg {
    margin-left: 1em;
}
html.msie section.content ul.modules li section.box fieldset input[disabled]
{
    background-color:#fff;
    filter:alpha(opacity=80);
}

section.content ul.modules li section.box fieldset input.wide
{
    width:25em;
}

section.content ul.modules li section.box fieldset input.medium
{
    width:14em;
}

section.content ul.modules li section.box fieldset input.narrow
{
    width:8em;
}

section.content ul.modules li section.box fieldset ul.checkboxlist
{
    padding-top:1em;
    float:left;
    width:100%;
}

section.content ul.modules li section.box fieldset ul.checkboxlist label
{
    clear:none;
    float:left;
    line-height:1.5em;
    margin:0;
    text-align:left;
    width:88%;
}
section.content ul.modules li section.box fieldset ul.checkboxlist input
{
    float:left;
    clear:left;
    margin-right:1em;
}
section.content ul.modules li section.box fieldset ul.checkboxlist li
{
    float:left;
    width:90%;
    margin:0 0 1em 1em;
}
section.content ul.modules li section.box fieldset ul.checkboxlist li ul
{
    clear:left;
    float:left;
    width:90%;
}
section.content ul.modules li section.box fieldset ul.checkboxlist li ul li
{
    margin:0 0 1em 2em;
}


section.content ul.modules li section.box fieldset.search legend
{
    font-size:1.2em;
    margin-bottom:.5em;
}

section.content ul.modules li section.box fieldset.search section div.column
{
    width:33%;
    float:left;
}

section.content ul.modules li section.box fieldset.search section.dateSelect
{
    margin-bottom:1em;
}

section.content ul.modules li section.box fieldset.search section.dateSelect div.column label
{
    float:left;
    width:auto;
}

html.msie6-0 section.content ul.modules li section.box fieldset.search section.dateSelect div.column label,
html.msie7-0 section.content ul.modules li section.box fieldset.search section.dateSelect div.column label
{
    float:none;    
}

section.content ul.modules section.box fieldset.search section.dateSelect div.column input
{
    clear:left;
    margin-top:0.2em;    
}
section.content ul.modules section.box fieldset.search section.dateSelect div.column input.emptyfield
{
    background-color:#ff6666;
}

section.content ul.modules li section.box fieldset.search ul.linklist
{
    margin-top:1.5em;
}
section.content ul.modules li section.box fieldset.search ul.linklist li
{
    float:left;
    clear:left;
    margin:0 1em .5em 0;
}

section.content ul.modules li table.balance
{
    margin-bottom:1em;
}

section.content ul.modules li table.balance td
{
    width:30%;
}


section.content ul.modules li section.box fieldset.search ul.linklist li a,
section.content ul.modules li section.box fieldset.search ul.linklist li a:link,
section.content ul.modules li section.box fieldset.search ul.linklist li a:hover
{
    text-transform:capitalize;
    text-decoration:underline;
}

section.content ul.modules li section.box fieldset.search ul.radiobuttonlist
{
    float:left;
    clear:left;
}

section.content ul.modules li section.box fieldset.search ul.radiobuttonlist li
{
    clear:left;
    float:left;
    margin-bottom:.5em;
}

section.content ul.modules li section.box fieldset.search ul.radiobuttonlist li input
{
    float:left;
    margin-right:.5em;
}

section.content ul.modules li section.box fieldset.search label
{
    float:left;
    width:auto;
    margin:0px;
    clear:none;
    text-align:left;
    margin-bottom:.5em;
}

section.content ul.modules li section.box a.date-picker
{
    float:left;
    margin-left:.2em;
    display:block;
}

section.content ul.modules li.withdrawMethods section.box section
{
    float:none;
}

section.content ul.modules li section.resultset table
{
    background-color:rgba(0,0,0,.9);
}

html.msie section.content ul.modules li section.resultset table
{
    background-color:Transparent;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#F5000000', endColorstr='#F5000000');
    zoom: 1;
}

section.content ul.modules li section.resultset table th,
section.content ul.modules li section.resultset table td
{
    border:1px solid #333;
}

section.content ul.modules li section.resultset div.pager
{
    width:100%;
    height:3em;
    margin-bottom:1em;
}

section.content ul.modules li section.resultset div.pager ul
{
    position:relative;
    display:block;
    top:1em;
    width:auto;
    text-align:center;    
}

section.content ul.modules li section.resultset div.pager ul li
{
    display:inline;
}

section.content ul.modules li section.resultset div.pager ul li a
{
    display:inline;
    padding:.3em 1em;
    background:#000;
    border:1px solid #333;
}

section.content ul.modules li section.resultset div.pager ul li.disabled a
{
    color:#555;
}

section.content ul.modules li section.resultset div.pager ul li.active a
{
    font-weight:bold;
    background:#318C13;
}

section.content ul.modules li section.box table.balance tr.odd
{
    background:#111;
}

section.content ul.modules li section.box table.balance th,
section.content ul.modules li section.box table.balance td,
section.content ul.modules li section.box table.methods th,
section.content ul.modules li section.box table.methods td
{
    border:1px solid #333;
}

section.content ul.modules li section.box table.methods
{
    margin:0 0 1em 0;
}

section.content ul.modules li section.box fieldset output
{
    float:left;
    padding:.6em 1em;
    border:1px solid #333;
    margin-right:.5em;
}



section.content ul.modules li section.box fieldset .unit
{
    float:left;
    margin:.5em 0 0 1em;
}

section.content ul.modules li section.box fieldset .hint
{
    float:left;
    margin-left:.5em;
	cursor:pointer;
}

section.content ul.modules li section.box fieldset .hint p,
section.content ul.modules li section.box fieldset .hint div
{
    display:none;
}

section.content ul.modules li section.box fieldset div.bonuses ul.providerBonuses
{
    position:relative;
}

section.content ul.modules li section.box fieldset div.bonuses li
{
    clear:left;
    margin-bottom:1em;
}

section.content ul.modules li section.box fieldset div.bonuses label
{
    text-align:left;
    clear:none;
    margin:0 1em 0 .5em;
    width:auto;
}

section.content ul.modules li section.box fieldset div.bonuses input
{
    float:left;
}

section.content ul.modules li section.box fieldset div.bonuses a.details
{
    float:left;
}

section.content ul.modules li section.box fieldset div.bonuses div.bonusdetails
{
    position:absolute;
    display:none;
    top:0px;
    padding:1em;
    border:1px solid #444;
    background:#000;
    right:-15em;
    width:45%;
}

.Tooltip, 
.TooltipRight
{
	z-index: 25;
	display: none;
	position: absolute;
	padding: 0 0 0 0;
	width: 191px;
	color: #000;
	text-align: left;
	filter: alpha(opacity: 90);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	-khtml-opacity: 0.90;
	-moz-opacity: 0.90;
	opacity: 0.90;
}

div.Tooltip div.top, 
div.TooltipRight div.top
{
	display: block;
	padding: 15px 10px 5px 10px;
	background: url(https://betsson.hs.llnwd.net/e1/coreRegistration/en/toolTipBottom.png);
	background-position:top;
	background-repeat:no-repeat;
}

div.Tooltip div.bottom, 
div.TooltipRight div.bottom
{
	display: block;
	height: 5px;
	padding: 0px 10px 0px 10px;
	background: url(https://betsson.hs.llnwd.net/e1/coreRegistration/en/toolTipBottom.png);
	background-position:bottom;
	background-repeat:no-repeat;
}

div.Tooltip .closeButton
{
	float:right;
	
	background:transparent url(https://betsson.hs.llnwd.net/e1/coreRegistration/en/MainSpriteV2_v1.Png) -0px -420px;width:11px;height:11px;
	
	cursor:pointer;
}

/* FORMS end */

